
#resizable { width: 150px; height: 150px; padding: 0.5em; }
	#resizable h3 { text-align: center; margin: 0; }

div.Protection7Core
{

	
	width:590px; 
	

	z-index:300000000; 
	position:fixed;
	right: 10px;
	top: 10px; 
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	font-size: 11px;
	line-height: 1.28;
	color: Black;



}

div.Content7Core
{
	position: relative;
	z-index: 105;
}

div.BackContent7Core
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: Black;
	z-index: 101;
	opacity: 0.8;
	border-radius: 10px;
}


div#logo7CoreInputProtection
{
	height:92px;
	width:100%;

	
	
	
}
div.function7Core
{
	height:20px;
	position: relative;
	float: left
}
div.function7Core .description7Core
{
	width: 150px;
	height:15px;
	position:relative;
	float:left;
}
div.function7Core .statusLED7Core
{
	width: 15px;
	height:15px;
	position:relative;
	float:left;
}



div.Row7Core
{
	width:100%;
	height:50px;
	position:relative;
}

div.key7Core
{
 	position:relative;
	float:left;
	width:30px;
	height:30px;
	background-color: #DEDEDE;
	margin-right: 2px;
	margin-left: 2px;
	maring-top: 2px;
	margin-bottom: 2px;
	border-radius: 3px;
	text-align: center;
}

div.doublekey7Core
{
 	position:relative;
	float:left;
	width:30px;
	height:30px;
	background-color: #DEDEDE;
	margin-right: 2px;
	margin-left: 2px;
	maring-top: 2px;
	margin-bottom: 2px;
	border-radius: 3px;
	text-align: center;
}

div#spaceKey7Core
{
	position:relative;
	float:left;
	width:150px;
	height:30px;
	background-color: #DEDEDE;
	margin-right: 2px;
	margin-left: 2px;
	maring-top: 2px;
	margin-bottom: 2px;
	border-radius: 3px;
	text-align: center;
	
}

div#backspaceKey7Core
{
	position:relative;
	float:left;
	width:98px;
	height:30px;
	background-color: #DEDEDE;
	margin-right: 2px;
	margin-left: 2px;
	maring-top: 2px;
	margin-bottom: 2px;
	border-radius: 3px;
	text-align: center;
	
}

div#shiftKey7Core
{
 	position:relative;
	float:left;
	width:98px;
	height:30px;
	background-color: #DEDEDE;
	margin-right: 2px;
	margin-left: 2px;
	maring-top: 2px;
	margin-bottom: 2px;
	border-radius: 3px;
	text-align: center;
	white-space: normal;
}
div.special7Core
{
	margin-top:0px;
	margin-bottom: 0px;
	height:15px;
}

div.basic7Core
{
	margin-top:0px;
	margin-bottom: 0px;
	height: 15px;
}

div#enterKey7Core
{
 	position:relative;
	float:left;
	width: 64px;
	height:30px;
	background-color: #DEDEDE;
	margin-right: 2px;
	margin-left: 2px;
	maring-top: 2px;
	margin-bottom: 2px;
	border-radius: 3px;
	text-align: center;
}

div#warningDialog7Core
{

	position: fixed;
 	z-index: 299999999;
 	top: 0; 
	left: 35%; 
	right: 35%; 
	height: 40px; 
	background-color: White; 
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	font-size: 11px;
	line-height: 1.28;
	color: Black;
	text-align: center; 
	min-width: 200px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-color: black;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-right-color: black;
	border-right-width: 3px;
	border-right-style: solid;
	border-left-color: black;
	border-left-width: 3px;
	border-left-style: solid;
	
}